dots/.config/hypr/noctalia/
dots/.config/kitty/current-theme.conf
dots/.config/kitty/themes/
dots/.config/noctalia/colors.json
dots/.config/noctalia/plugins/screen-toolkit/
dots/.config/yazi/flavors/
