dots/.config/hypr/noctalia/
dots/.config/kitty/current-theme.conf
dots/.config/kitty/themes/
dots/.config/noctalia/colors.json
dots/.config/yazi/flavors/
dots/.config/mpd/log
dots/.config/mpd/state
dots/.config/noctalia/plugins/assistant-panel/settings.json

dots/.local/share/applications/FFPWA-01KNPPCC8VRE4QW70BDTH76K55.desktop
dots/.local/share/applications/FFPWA-01KNPPMVQDDZ3FF82P6Y6Q0AFK.desktop
dots/.local/share/applications/FFPWA-01KNPPYYJ3XZ9HE8VT9YC5JRM8.desktop
dots/.local/share/applications/FFPWA-01KNPQ4VP5WC8NYAAARGS9QX0T.desktop
dots/.local/share/applications/FFPWA-01KNPVHRJPM9SRK5EN9S1G5YH3.desktop