dots/.config/hypr/noctalia/
dots/.config/kitty/current-theme.conf
dots/.config/kitty/themes/
dots/.config/noctalia/colors.json
dots/.config/yazi/flavors/
dots/.config/mpd/log
dots/.config/mpd/state
dots/.config/noctalia/plugins/assistant-panel/settings.json

dots/.local/share/applications/FFPWA-01KN1WMDB43JBF4HT3CTR2BGXA.desktop
dots/.local/share/applications/FFPWA-01KN1WRS8SVY17ZCKCRHNPYBB0.desktop
dots/.local/share/applications/FFPWA-01KN1XGSR7CN72MV5MW8AFQTZ4.desktop
