[Desktop Entry]
Type=Application
Version=1.4
Name=GitHub
Comment=
Keywords=;
Categories=GTK;Development;
Icon=github
Exec=/usr/bin/firefoxpwa site launch 01KKQ6ES7V8NJ7JZ5SVTG12M6H --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01KKQ6ES7V8NJ7JZ5SVTG12M6H
