[Desktop Entry]
Type=Application
Version=1.4
Name=YouTube
Comment=
Keywords=;
Categories=GTK;AudioVideo;
Icon=youtube
Exec=/usr/bin/firefoxpwa site launch 01KKQ7ASR9CWAHNSZ5CMRWFF1R --protocol %u
Actions=0;1;
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01KKQ7ASR9CWAHNSZ5CMRWFF1R

[Desktop Action 0]
Name=Inscrições
Icon=FFPWA-01KKQ7ASR9CWAHNSZ5CMRWFF1R-0
Exec=/usr/bin/firefoxpwa site launch 01KKQ7ASR9CWAHNSZ5CMRWFF1R --url "https://www.youtube.com/feed/subscriptions?feature=app_shortcuts"

[Desktop Action 1]
Name=Explorar
Icon=FFPWA-01KKQ7ASR9CWAHNSZ5CMRWFF1R-1
Exec=/usr/bin/firefoxpwa site launch 01KKQ7ASR9CWAHNSZ5CMRWFF1R --url "https://www.youtube.com/feed/explore?feature=app_shortcuts"
