[Desktop Entry]
Type=Application
Version=1.4
Name=Monochrome Music
Comment=A minimalist music streaming application
Keywords=;
Categories=GTK;Amusement;Audio;AudioVideo;
Icon=monochrome
Exec=/usr/bin/firefoxpwa site launch 01KKQNR6J3AECF30DD1AKK236W --protocol %u
Actions=0;
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01KKQNR6J3AECF30DD1AKK236W

[Desktop Action 0]
Name=Search
Icon=FFPWA-01KKQNR6J3AECF30DD1AKK236W-0
Exec=/usr/bin/firefoxpwa site launch 01KKQNR6J3AECF30DD1AKK236W --url "https://monochrome.samidy.com/#search"
