environment {
    // XDG stuff
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"

    // Theming
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"

    // Electron
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    // Default editor
    EDITOR "nano"

    // AI stuff
    HSA_OVERRIDE_GFX_VERSION "10.3.0"
    ROC_ENABLE_PRE_VEGA "1"
    CLAUDE_CODE_USE_OPENAI "1"
    OPENAI_BASE_URL "http://localhost:11434/v1"
    OPENAI_MODEL "qwen2.5-coder:14b"
}