layout {

    focus-ring {
        active-color   "#c39c22"
        inactive-color "#f6eed5"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#c39c22"
        inactive-color "#f6eed5"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#d6d1c270"
    }

    tab-indicator {
        active-color   "#c39c22"
        inactive-color "#e6d9b2"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#c39c2280"
    }
}

recent-windows {
    highlight {
        active-color "#c39c22"
        urgent-color "#fd4663"
    }
}
