layout {

    focus-ring {
        active-color   "#afcdc1"
        inactive-color "#121413"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#afcdc1"
        inactive-color "#121413"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#afcdc1"
        inactive-color "#314c43"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#afcdc180"
    }
}

recent-windows {
    highlight {
        active-color "#afcdc1"
        urgent-color "#ffb4ab"
    }
}
